body {
	margin: 0;
	font-family: monospace;
	font-size: 20px;
	background-color: #f6f6f6;
}
.image {
	display: none;
	max-width: 100vw;
	max-height: 100vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.image:hover {
	cursor: pointer;
}
.button {
	position: fixed;
	height: 40px;
	width: 40px;
	border-radius: 50px;
	bottom: 20px;
	right: 20px;
	font-size: 150%;
	text-align: center;
}
.button:hover {
	cursor: pointer;
}
.about {
	display: none;
	position: fixed;
	max-width: 100vw;
	max-height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}